@model IEnumerable<StoredFileInfo>

@foreach (var fileInfo in Model)
{
    <tr data-id="@fileInfo.Id">
        <td>@fileInfo.Id</td>
        <td>@fileInfo.Name</td>
        <td>@fileInfo.Size</td>
    </tr>
}
