@model List<OrganizationViewModel>

<div>
    <label>Organizations</label>
    <select id="orgSelector" asp-items="@ViewBag.Organizations" class="form-select form-select-lg mb-3" aria-label="Large select example"></select>
    <div id="loader" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/organizations/organizations.js"></script>